{% extends 'base.html' %}
{% load staticfiles %}
{% block 'content' %}
    <script src="{% static "vnc/include/util.js" %}"></script>
    <script src="{% static "vnc/vnc.js" %}"></script>
    <script type="text/javascript">
        INCLUDE_URI= "{% static 'vnc/include/' %}"
        var host = '{{ host }}'
        var port = '{{ port }}'
        Util.load_scripts(["webutil.js", "base64.js", "websock.js", "des.js",
                           "input.js", "display.js", "jsunzip.js", "rfb.js"]);
        window.onscriptsload = openVNC;
    </script>
    <div style="padding:0 15px">
        <div class="row">
            <a class="col-md-1 col-md-offset-1 btn btn-default pull-left" href={% url 'hosts' %}><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
            <div id="noVNC_screen" class="col-md-6 col-md-offset-1 well well-lg container" style="width:50%">
                <div id="noVNC_status" class="alert alert-success">Loading</div>
                <div id="noVNC_container" style="text-align:center;">
                    <canvas id="noVNC_canvas" width="720px" height="400px" style="display:inline">
                        Canvas not supported.
                    </canvas>
                </div>
                <div id="noVNC_control" style="text-align:center;">
                    <a class="btn btn-danger hastooltip"
                        title="careful with that!"
                        data-toggle="tooltip"
                        data-placement='right'
                        trigger='hover'
                        onclick="rfb.sendCtrlAltDel();">
                        <span class="glyphicon glyphicon-warning-sign"></span> Send Ctrl+Alt+Del
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
