{% extends 'base.html' %}
{% load bootstrap %}

{% block 'head' %}
    <title>kvmate - create a new host</title>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#id_iptype").val() == 'dynamic') {
                toggleFields()
            }
            $("#id_iptype").change(function () {
                toggleFields()
            })
        })
        function toggleFields() {
            $('#id_ip').parent().toggle();
            $('.control-label[for=id_ip]').toggle();
            $('#id_netmask').parent().toggle();
            $('.control-label[for=id_netmask]').toggle();
            $('#id_gateway').parent().toggle();
            $('.control-label[for=id_gateway]').toggle();
            $('#id_dns').parent().toggle();
            $('.control-label[for=id_dns]').toggle();
            $('#id_domain').parent().toggle();
            $('.control-label[for=id_domain]').toggle();
        }
    </script>
{% endblock %}

{% block 'acreate' %}
    class="active"
{% endblock %}

{% block 'content' %}
    <div style="padding:0 15px">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well well-lg">
                <form action="" method="post">
                    {{ form|bootstrap }}
                    {% csrf_token %}
                    <div class="text-left">
                        <a class="btn btn-default btn-lg" href={% url 'host:overview' %}><span
                                class="glyphicon glyphicon-chevron-left"></span> Back</a>
                        <button type="submit" class="btn btn-lg btn-primary pull-right">
                            <span class="glyphicon glyphicon-ok"></span> Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
