{% extends 'base.html' %}
{% block 'head' %}
<title>kvmate - your hosts</title>
<script type="text/javascript">
$(document).ready(function(){});
function showMessage(data) {
    var messages = $('#messages-content');
    if (messages.length && data.msg) {
        messages.html(data.msg);
    }
}
function toggleHost(host) {
    $('#' + host + '-row').removeClass("danger success");
    $('#' + host + '-row').addClass("warning");
    $('.' + host + '-power-button').addClass('disabled');
    $('a[id^="popover-' + host + '"]').popover('hide')

}
</script>
{% endblock %}
{% block 'ahosts' %}
class="active"
{% endblock %}
{% block 'navbar-right' %}
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="search hosts..." name="q">
    </div>
</form>
{% endblock %}
{% block 'content' %}
<div style="padding:0 15px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><strong>Name</strong></th>
                        <th><strong>Functions</strong></th>
                        <th><strong>Power</strong></th>
                    </tr>
                </thead>
                <tbody>
                {% for host in object_list %}
                    <tr id='{{ host.name }}-row' class="{% if host.is_on %}success{% else %}danger{% endif %}">
                        <td>{{ host.name }}</td>
                        <td>
                            <a class='btn btn-xs btn-primary' href='{% url 'info' host.name %}'><span class="glyphicon glyphicon-info-sign"></span> Overview</a>
                            <a class='btn btn-xs btn-primary{% if not user.is_authenticated %} disabled{% endif %}'
                                href='{% url 'vnc' host.name %}'><span class="glyphicon glyphicon-picture"></span> VNC</a>
                        </td>
                        <td id='{{ host.name }}-power'>
                            {% if host.is_on %}
                            <a id="popover-{{ host.name }}-shutdown"
                                class="btn btn-xs btn-danger {{ host.name }}-power-button{% if not user.is_authenticated %} disabled{% endif %}"
                                href="#"><span class="glyphicon glyphicon-off"></span> Shutdown</a>
                            <div id="{{ host.name }}-shutdown-head" class="hide">
                                <strong>Shutdown the host "{{ host.name }}"</strong>
                            </div>
                            <div id="{{ host.name }}-shutdown-content" class="hide">
                                <div class="text-center">
                                    <a class="btn btn-danger" href="#"
                                        onclick="$.get('{% url 'action' host.name 'shutdown'%}',
                                        function(data){showMessage(data);toggleHost('{{ host.name }}')}
                                        );return false;">Do it!</a>
                                </div>
                            </div>
                            <script>
                                $('#popover-{{ host.name }}-shutdown').popover({
                                    html : true,
                                    placement: 'left',
                                    title: function() {
                                      return $("#{{ host.name }}-shutdown-head").html();
                                    },
                                    content: function() {
                                      return $("#{{ host.name }}-shutdown-content").html();
                                    }
                                });
                            </script>
                            <a id="popover-{{ host.name }}-reboot"
                                class="btn btn-xs btn-danger {{ host.name }}-power-button{% if not user.is_authenticated %} disabled{% endif %}"
                                href="#"><span class="glyphicon glyphicon-resize-vertical"></span> Reboot</a>
                            <div id="{{ host.name }}-reboot-head" class="hide">
                                <strong>Reboot the host "{{ host.name }}"</strong>
                            </div>
                            <div id="{{ host.name }}-reboot-content" class="hide">
                                <div class="text-center">
                                    <a class="btn btn-danger" href="#"
                                        onclick="$.get('{% url 'action' host.name 'reboot'%}',
                                        function(data){showMessage(data);toggleHost('{{ host.name }}')}
                                        );return false;">Do it!</a>
                                </div>
                            </div>
                            <script>
                                $('#popover-{{ host.name }}-reboot').popover({
                                    html : true,
                                    placement: 'top',
                                    title: function() {
                                      return $("#{{ host.name }}-reboot-head").html();
                                    },
                                    content: function() {
                                      return $("#{{ host.name }}-reboot-content").html();
                                    }
                                });
                            </script>
                            <a id="popover-{{ host.name }}-forceoff"
                                class="btn btn-xs btn-danger {{ host.name }}-power-button{% if not user.is_authenticated %} disabled{% endif %}"
                                href="#"><span class="glyphicon glyphicon-fire"></span> Forceoff</a>
                            <div id="{{ host.name }}-forceoff-head" class="hide">
                                <strong>Force the host "{{ host.name }}" off</strong>
                            </div>
                            <div id="{{ host.name }}-forceoff-content" class="hide">
                                <div class="text-center">
                                    <a class="btn btn-danger" href="#"
                                        onclick="$.get('{% url 'action' host.name 'forceoff'%}',
                                        function(data){showMessage(data);toggleHost('{{ host.name }}')}
                                        );return false;">Do it!</a>
                                </div>
                            </div>
                            <script>
                                $('#popover-{{ host.name }}-forceoff').popover({
                                    html : true,
                                    placement: 'right',
                                    title: function() {
                                      return $("#{{ host.name }}-forceoff-head").html();
                                    },
                                    content: function() {
                                      return $("#{{ host.name }}-forceoff-content").html();
                                    }
                                });
                            </script>
                            {% else %}
                            <a class='btn btn-xs btn-success {{ host.name }}-power-button{% if not user.is_authenticated %} disabled{% endif %}'
                                href="#"
                                onclick="$.get('{% url 'action' host.name 'start'%}',
                                function(data){showMessage(data);toggleHost('{{ host.name }}')}
                                );return false;">Start</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
