{% extends 'base.html' %}
{% block 'head' %}
<title>kvmate - your hosts</title>
<script type="text/javascript">
$(document).ready(function(){});
function showMessage(data) {
    var messages = $('#messages-content');
    if (messages.length && data.msg) {
        messages.html(data.msg);
    }
}
function toggleHost(host) {
    $('#' + host + '-row').removeClass("danger success");
    $('#' + host + '-row').addClass("warning");
    $('.' + host + '-power-button').addClass('disabled')
}
</script>
{% endblock %}
{% block 'ahosts' %}
class="active"
{% endblock %}
{% block 'navbar-right' %}
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="search hosts..." name="q">
    </div>
</form>
{% endblock %}
{% block 'content' %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Functions</strong></th>
                    <th><strong>Power</strong></th>
                </tr>
            </thead>
            <tbody>
            {% for host in object_list %}
                <tr id='{{ host.name }}-row' class="{% if host.is_on %}success{% else %}danger{% endif %}">
                    <td>{{ host.name }}</td>
                    <td><a class='btn btn-xs btn-primary' href='{% url 'info' host.name %}'>Info</a></td>
                    <td id='{{ host.name }}-power'>
                        {% if host.is_on %}
                        <a class='btn btn-xs btn-danger {{ host.name }}-power-button'
                            href="#"
                            onclick="$.get('{% url 'action' host.name 'shutdown'%}', function(data){showMessage(data);toggleHost('{{ host.name }}')});return false;">Shutdown</a>
                        <a class='btn btn-xs btn-danger {{ host.name }}-power-button'
                            href="#"
                            onclick="$.get('{% url 'action' host.name 'reboot'%}', function(data){showMessage(data);toggleHost('{{ host.name }}')});return false;">Reboot</a>
                        <a class='btn btn-xs btn-danger {{ host.name }}-power-button'
                            href="#"
                            onclick="$.get('{% url 'action' host.name 'forceoff'%}', function(data){showMessage(data);toggleHost('{{ host.name }}')});return false;">Forceoff</a>
                        {% else %}
                        <a class='btn btn-xs btn-success {{ host.name }}-power-button'
                            href="#"
                            onclick="$.get('{% url 'action' host.name 'start'%}', function(data){showMessage(data);toggleHost('{{ host.name }}')});return false;">Start</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
